@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@1,200&display=swap");

body {
  background: url("https://img5.goodfon.ru/original/1920x1200/9/64/gradient-smailik-linii-linii-background.jpg")
    center/cover fixed no-repeat;
  color: rgb(62, 31, 163);

  /* font-size: 18px;
  font-weight: bold;
  font-family: "Mulish", sans-serif; */
  font: bold 18px "Mulish", sans-serif;
}

a {
  color: blueviolet;
  text-decoration: none;
  padding-bottom: 100px;
}

a:hover {
  text-decoration: underline;
}
a:active {
  color: red;
}
a:visited {
  color: aquamarine;
}

.ava {
  border-radius: 50%;
  width: 200px;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.5);
}

.loh p {
  text-transform: uppercase;
  letter-spacing: 2px;
  /* word-spacing: 40px; */
}
.container {
  margin: auto;
}
.card {
  background-image: url(https://sun9-83.userapi.com/impf/KANV6BxyHEYqWugUSGZmUFHmehVCuUNIse5Ihw/px9eNCeDlQA.jpg?size=1184x328&quality=96&sign=f144ec3270cdb7cf72f8d7ee364169d6&type=album);
  /* TODO картинку прозрачную делаешь сам в сторонней программе :(((( */
  padding: 15px 20px;
  margin-bottom: 20px;
  border-radius: 20px;
}

.loh {
  margin-bottom: 30px;
}

/* .back {
  padding: 15px 20px;
  margin-bottom: 20px;
  border-radius: 20px;

  background: rgb(255, 255, 255, 0.);
} */

/* .social {
  background: red;
  padding: 15px;
  border: 3px solid black;
}

.loh h1 {
  color: rgb(38, 0, 253);
} */

/* .box-model > div {
  float: left;
  background: black;
  height: 200px;
  width: 25%;
  border: 4px solid red;
  border-radius: 50%;
  box-sizing: border-box; */
